<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Swaglabs eCommerce Suite">
    <test name="Automation Test">
        <parameter name="username" value="standard_user"></parameter>
        <parameter name="password" value="user_sauce"></parameter>
        <parameter name="baseURL" value="https://www.saucedemo.com/v1/index.html"></parameter>
        <classes>
            <class name="com.Tohsaka.ecom.InventoryTest"></class>
        </classes>
    </test>
</suite>